* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Manrope;
  background-color: hsl(210, 46%, 95%);
  font-family: 13px;
  color: hsl(217, 19%, 35%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 375px;
  width: 100%;
  margin: 5rem auto;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}

header {
  width: 100%;
}

header img {
  padding: 0;
  max-width: 550px;
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  object-position: center;
}

main {
  padding: 1.2rem 2rem;
}

main h1 {
  font-size: 1.2rem;
  margin: 0 auto;
  text-align: left;
}

main p {
  margin: 0.8rem auto;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(214, 17%, 51%);
  text-align: left;
}

footer {
  padding: 0 2rem;
  margin-bottom: 0.8rem;
  position: relative;
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.row .profile {
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 1rem;
}

.row .text {
  margin-right: 4rem;
}

.row h2 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.share {
  width: 2.5rem;
  background-color: hsl(220, 8%, 93%);
  object-fit: cover;
  object-position: center;
  padding: 0.7rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

footer .row .col p {
  text-align: left;
  font-weight: 400;
  color: hsl(212, 23%, 69%);
}

.social {
  display: none;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  gap: 1rem;
  width: 100%;
  background-color: hsl(217, 19%, 35%);
  padding: 1.9rem;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.social p {
  text-transform: uppercase;
  color: hsl(212, 23%, 69%);
  font-size: 0.9rem;
  letter-spacing: 5px;
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
  }

  .container {
    display: flex;
    max-width: 750px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }

  header {
    display: flex;
    width: 70%;
    padding: 0;
    margin: 0 auto;
  }

  header img {
    min-width: 13rem;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 23rem;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  main {
    padding: 0;
    margin: 0;
  }

  main h1 {
    width: 100%;
    margin-top: 1.3rem;
    padding: 0 2rem;
    font-size: 1.2rem;
  }

  main p {
    margin: 1rem 0;
    padding: 0 2rem;
    width: 100%;
    font-size: 0.8rem;
    line-height: 1.4;
  }

  footer {
    width: 100%;
    padding: 0 2rem;
    margin: 0;
    margin-bottom: 1.5rem;
  }

  footer .row {
    display: flex;
    justify-content: flex-start;
  }

  .row .text {
    margin-right: 9rem;
  }

  .row h2 {
    font-size: 0.8rem;
  }

  .col .profile {
    width: 35px;
  }

  .row .share {
    width: 2.3rem;
    padding: 0.7rem;
  }

  footer .row .col p {
    font-size: 0.8rem;
    line-height: 1.2;
  }

  .social {
    gap: 1rem;
    width: 50%;
    bottom: 3.5rem;
    right: -1.5rem;
    background-color: hsl(217, 19%, 35%);
    padding: 1rem;
    margin: 0 auto;
    border-radius: 10px;
  }

  .social::after {
    content: "";
    position: absolute;
    top: 100%; /* Position the triangle below the .social div */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent; /* Transparent left side */
    border-right: 8px solid transparent; /* Transparent right side */
    border-top: 10px solid hsl(217, 19%, 35%); /* Triangle color matches .social background */
  }
}
